extends layout

block content
  .container
    .row
      h1 #{title}      
    .row 
      form.form-horizontal(method='Post', action="/", role="form")
        .form-group
          lable.col-sm-2.control-label(for="username") username:
          .col-sm-6
            input#username.form-control(type="text", name="username", placeholder="please input your name")
        .form-group
          lable.col-sm-2.control-label(for="address",) address:
          .col-sm-6
            input#address.form-control(type="text", name="address", placeholder="please input your address")
        .form-group
          .col-sm-offset-2.col-sm-4
            input.btn.btn-default(type="submit", value="login")

    //- input#username(type='text', name='username')
    //- input(type='text', name='field2')
    //- input(type='submit')
    .row
      form.form-horizontal(method='Post', action="/createStorage", role="form")
        .form-group
          lable.col-sm-2.control-label(for="containerName") Container name:
          .col-sm-6
            input#containerName.form-control(type="text", name="containerName", placeholder="please input azure container Name")
        .form-group
          .col-sm-offset-2.col-sm-4
            input.btn.btn-default(type="submit", value="Create")
    .row
      form.form-horizontal(method='Post', action="/list", role="form")
        .form-group
          .col-sm-offset-2.col-sm-4
            input.btn.btn-default(type="submit", value="Get from SQL Server")

    .row
      form.form-horizontal(method='Post', action="/", role="form")
        .form-group
          .col-sm-offset-2.col-sm-4
            input.btn.btn-info(type="submit", value="Generate SAS Url")
        .form-group
          label.col-sm-8.control-label #{content}
    .row
      form.form-horizontal(method='Post', action="/upload", role="form")
        .form-group
          .col-sm-offset-2.col-sm-4
            input.btn.btn-info(type="submit", value="Upload file")
        .form-group
          label.col-sm-8.control-label #{content}


